<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>How to interact with AndiBots:</h2>
    <h2>1. Click the bubble icon at the bottom right corner</h2>
    <h2>2. Type 'hi' and click send/enter</h2>
    <h2>3. Happy chatting!</h2>    
</body>
</html>
